[Unit]
Description=Gitea Quadlet
Requires=gitea-postgres.service

[Container]
Image=docker.io/gitea/gitea:1.23.8
ContainerName=gitea-Quadlet

PodmanArgs=-e PUID=1000 -e PGID=1000

EnvironmentFile=gitea-secrets.env
#Environment=GITEA__database__DB_TYPE=in secrets file
#Environment=GITEA__database__HOST=in secrets file
#Environment=GITEA__database__NAME=in secrets file
#Environment=GITEA__database__USER=in secrets file
#Environment=GITEA__database__PASSWD=in secrets file

#Network=gitea.network # not needed when in a pod. containers in a pod talk on localhost
#PublishPort=3000:3000 # in .pod file
#PublishPort=222:22 # in .pod file

Volume=gitea-data:/data:Z
Volume=/etc/timezone:/etc/timezone:ro 
Volume=/etc/localtime:/etc/localtime:ro

Pod=gitea.pod

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
