[Unit]
Description=Gitea-Postgres Quadlet

[Container]
Image=docker.io/postgres:14
ContainerName=gitea-Postgres-Quadlet
HostName=gitea-postgres

EnvironmentFile=gitea-secrets.env
#Environment=POSTGRES_USER=in secrets file
#Environment=POSTGRES_PASSWORD=in secrets file
#Environment=POSTGRES_DB=in secrets file

#Network=gitea.network # not needed when in a pod. containers in a pod talk on localhost

Volume=/opt/podmnts/gitea/postgres:/var/lib/postgresql/data:Z
Pod=gitea.pod


[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
