[Unit]
Description=Wordpress Database Quadlet

[Container]
Image=docker.io/mysql:8.2.0
HostName=db
ContainerName=wp-db-Quadlet
EnvironmentFile=wp-db-secrets.env
#Environment=MYSQL_DATABASE=exampledb
#Environment=MYSQL_USER=exampleuser
#Environment=MYSQL_PASSWORD=examplepass
#Environment=MYSQL_RANDOM_ROOT_PASSWORD=1
Volume=/opt/podmnts/wordpress/db:/var/lib/mysql:Z
Network=wordpress.network

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target